html {
    background-color: #FFEA00;
    font-family: 'Tomorrow', sans-serif;
}

.header {
    text-align: center;
}
.message{
    text-align: center;
    font-size: 38px;
}

.images {
    text-align: center;
}
.box {
    float: left;
    width: 25%;
    height: 30%;
  }
.images::after{
    content: "";
    clear: both;
    display: table;
}
.score{
    margin-top: 20%;
}

.options {
    text-align: center;
}
.pSelection {
    background-color: #FFEA00;
    font-family: 'Tomorrow', sans-serif;
    border: none;
    color: black;
    padding: 5%;
    text-decoration: none;
    border-radius: 4px;
    border-color: white;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #rock:active {
    background-color: #FFEA00;
    transform: translateY(9px);
  }

  #scissors:active {
    background-color: #FFEA00;
    transform: translateY(9px);
  }
  #paper:active {
    background-color: #FFEA00;
    transform: translateY(9px);
  }
  
  footer{
      text-align: center;
      font-size: 14px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
  }

  #github{
      color: white;
      text-decoration: none;
  }
  #github:visited{
      color: white;
      text-decoration: none;
  }